@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")" style="padding: 0; margin: 0;">
    <div class="logosec hover-pointer">
        <img src="~/img/usjr_logo.png"
             style="width: 100px;" alt="logo"
             onclick="window.location.href = '@Url.Action("Index", "Home")';">
        <span style="font-size: 20px; color: green; font-weight: 700;">
            Facility Reservation Service
        </span>
    </div>
 @*    <div class="logosec">
        @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn hover-pointer"
                     alt="dp">
            </div>
            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-gear"></i>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> *@
</header>
