@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .custom-container {
        padding: 20px;
    }

    .col {
        display: flex;
    }

        .col:first-child {
            justify-content: flex-start;
        }

        .col:nth-child(2) {
            justify-content: center;
        }

        .col:last-child {
            justify-content: flex-end;
        }

    .content-box {
        border: solid 1px grey;
        border-radius: 20px;
        height: 400px;
        width: 300px;
        display: flex;
        align-items: start;
        /* justify-content: center; */
        color: white;
    }
</style>


<!--HEADER PART (CONTAINS buttons, search bar, filter, title)-->
<div class="container-fluid d-flex justify-content-between align-items-center" style="padding-bottom: 10px;">
    <div class="d-flex align-items-center">
        <h5 class="mb-0">Facilities and Rooms</h5>
    </div>

    <div class="d-flex align-items-center" style="gap: 30px; margin-left: -10px;">
        <div class="position-relative">
            <input type="text" class="form-control" placeholder="Search" style="width: 300px; padding-left: 30px; border-radius: 5px;">
            <img src="~/img/search.svg" alt="Search" class="position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px;">
        </div>

        <button class="btn btn-outline-secondary position-relative" style="border-radius: 5px; padding: 8px 25px; min-width: 120px;">
            <img src="~/img/filter.svg" alt="Filters" class="position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px;">
            Filters
        </button>

        <button type="button" class="btn btn-success position-relative" style="border-radius: 5px; padding: 8px 25px; min-width: 120px;" data-toggle="modal" data-target="#addUserModal">
            <img src="~/img/add.svg" alt="Add Facility" class="position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px;">
            Add Facility
        </button>
    </div>
</div>


<!--MAIN CONTENT (CONTAINS gridview layout of facilities and rooms)-->
<div class="container-fluid custom-container">
    <!--First ROW-->
    <div class="row" style="margin-bottom: 40px">
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
    </div>
    <!--SECOND ROW-->
    <div class="row" style="margin-bottom: 40px">
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px">
                        <img src="~/img/threeDots_horizontal.png"/>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
    </div>
</div>