@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .custom-container {
        padding: 20px;
    }

    .col {
        display: flex;
    }

        .col:first-child {
            justify-content: flex-start;
        }

        .col:nth-child(2) {
            justify-content: center;
        }

        .col:last-child {
            justify-content: flex-end;
        }

    .content-box {
        border: solid 1px grey;
        border-radius: 20px;
        height: 400px;
        width: 300px;
        display: flex;
        align-items: start;
        /* justify-content: center; */
        color: white;
    }
</style>


<!--HEADER PART (CONTAINS buttons, search bar, filter, title)-->
<div class="container-fluid d-flex justify-content-between align-items-center" style="padding-bottom: 10px;">
    <div class="d-flex align-items-center">
        <h5 class="mb-0">Facilities and Rooms</h5>
    </div>

    <div class="d-flex align-items-center" style="gap: 30px; margin-left: -10px;">
        <div class="position-relative">
            <input type="text" class="form-control" placeholder="Search" style="width: 300px; padding-left: 30px; border-radius: 5px;">
            <img src="~/img/search.svg" alt="Search" class="position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px;">
        </div>

        <button class="btn btn-outline-secondary position-relative" style="border-radius: 5px; padding: 8px 25px; min-width: 120px;">
            <img src="~/img/filter.svg" alt="Filters" class="position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px;">
            Filters
        </button>

        <!-- Inside _Facilities.cshtml -->
        <button type="button" class="btn btn-success position-relative add-facility-btn" style="border-radius: 5px; padding: 8px 25px; min-width: 120px;">
            <img src="~/img/add.svg" alt="Add Facility" class="position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px;">
            Add Facility
        </button>




    </div>
</div>


<!--MAIN CONTENT (CONTAINS gridview layout of facilities and rooms)-->
<div class="container-fluid custom-container">
    <!--First ROW-->
    <div class="row" style="margin-bottom: 40px">
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
    </div>
    <!--SECOND ROW-->
    <div class="row" style="margin-bottom: 40px">
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px">
                        <img src="~/img/threeDots_horizontal.png" id="menu-toggle" style="cursor:pointer;" />
                        <!--TRIAL FOR DROPDOWN-->
                        <div class="dropdown-menu" style="display: none; position: absolute; top: 50px; background-color: white; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 20px; z-index: 1000; width: 200px;">
                            <a href="#" class="dropdown-item" style="padding: 10px; display: flex; align-items: center;">
                                <img src="~/img/userprofile.svg" alt="profile placeholder" style="border-radius: 50%; margin-right: 10px;">
                                View profile
                            </a>
                            <a href="#" class="dropdown-item" style="padding: 10px; display: flex; align-items: center;">
                                <img src="~/img/pencil-fill.svg" alt="edit placeholder" style="border-radius: 50%; margin-right: 10px;">
                                Edit details
                            </a>
                            <a href="#" class="dropdown-item" style="padding: 10px; display: flex; align-items: center;">
                                <img src="~/img/restart_alt.svg" alt="reset placeholder" style="border-radius: 50%; margin-right: 10px;">
                                Reset password
                            </a>
                            <a href="#" class="dropdown-item text-danger" style="padding: 10px; display: flex; align-items: center;">
                                <img src="~/img/delete.svg" alt="delete placeholder" style="border-radius: 50%; margin-right: 10px;">
                                Delete user
                            </a>
                        </div>
                        <style>
                            .dropdown-item {
                                border-radius: 10px;
                                transition: background-color 0.3s ease;
                            }

                                /* Hover color change to #137301 */
                                .dropdown-item:hover {
                                    background-color: #137301;
                                    color: white; /* Optional: Make the text white for better contrast */
                                }

                            .text-danger:hover {
                                background-color: #fdd;
                            }
                        </style>
                        <!--TRIAL ENDS HERE-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-box d-flex flex-column">
                <div style="width: 350px;"><img src="~/img/facilities_icon.png" /></div>
                <p style="padding: 5px 10px 0px 10px; color: black; font-size: 21px; margin: 0;">Center for Performing Arts</p>
                <p style="padding: 5px 10px 0px 10px; color: grey; font-size:15px; margin: 0;">4th floor, IDK Building, Main Campus</p>
                <div class="d-flex flex-row mt-auto" style="width: 100%; align-items: center; padding: 0px 10px 0px 20px;">
                    <p style="font-weight: bold; font-size: 20px; color: black;">Php 5,000/day</p>
                    <div style="width:25px; margin-left: auto; margin-bottom:10px"><img src="~/img/threeDots_horizontal.png" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('#menu-toggle').forEach(function (menuToggle) {
            menuToggle.addEventListener('click', function () {
                const dropdown = this.nextElementSibling;

                // Toggle the display property of the dropdown menu
                dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';

                // Get the dropdown bounding box
                const dropdownRect = dropdown.getBoundingClientRect();

                // Check if the dropdown is overflowing the right edge of the viewport
                if (dropdownRect.right > window.innerWidth) {
                    // Align the dropdown to the left side
                    dropdown.style.left = 'auto';
                    dropdown.style.right = '0';
                } else {
                    // Align the dropdown to the right side as default
                    dropdown.style.left = '0';
                    dropdown.style.right = 'auto';
                }
            });
        });

        // Close dropdowns if clicked outside of them
        document.addEventListener('click', function (event) {
            document.querySelectorAll('.dropdown-menu').forEach(function (dropdown) {
                const menuToggle = dropdown.previousElementSibling;

                if (!menuToggle.contains(event.target) && !dropdown.contains(event.target)) {
                    dropdown.style.display = 'none';
                }
            });
        });
    });
</script>