@{
    ViewData["Title"] = "Home Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


<div id="sidebar" class="shadow-none mt-4 ms-3" style="background-color:#F5FBF7">
    <div id="roundeddiv"></div>
    <p>@Context.Session.GetString("UserName")</p>
    <p>@Context.Session.GetString("Department")</p>

    <p>
        @{
            int? role = Context.Session.GetInt32("Role");
            if (role.HasValue)
            {
                if (role == 1)
                {
                    <span>Admin</span>
                }
                else if (role == 2)
                {
                    <span>Student</span>
                }
                else if (role == 3)
                {
                    <span>Super Admin</span>
                }
                else
                {
                    <span>Unknown</span>
                }
            }
            else
            {
                <span>Not Assigned</span>
            }
        }
    </p>

    <nav class="navbar">
        <div class="navdiv">
            <p>MENU</p>
            <ul>
                 <li class="hover">
                     <img src="~/img/checkbook.svg" /> Reservations
                 </li>

                @* Only Admin and Super Admin can see this *@
               
                    <li class="hover">
                        <img src="~/img/location.svg" /> Facilities
                    </li>
                @if (role == 1 || role == 3)
                {
                    <li class="hover">
                        <img src="~/img/userprofile.svg" /> Users
                    </li>
                }

                <li class="hover">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

